* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-grid-btn {
    width: 900px;
    height: 50px;
    margin-top: 15px;
}